doctype
html(lang='en')
  head
    title Proofpoint Decoder
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    script(src='js/bootstrap.min.js')
    block boilerplateheader
  body
    block content